body{
  background: #e6ecf0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #4AB3F4;
  min-height: 29vh;
  width:100%;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
}

.App-moldura{
  /*background: #fff;*/
  width: 150px;
  height: 150px;
  border-radius: 80px;
  position: relative;
  bottom: 110px;
  left: 2%;
}

.App-foto-perfil{
  width: 206px;
  border-radius: 100px;
  /*position: absolute;*/
}

.App-foto-post{
  float: left;
  width: 48px;
  height: 48px;
  border-radius: 40px;
}

.App-Dados{
  /*left: 2%;*/
  margin-left: 2%;
  /*position: absolute;*/
  width: 320px;
  height: 180px;
  /*border-radius: 5px;*/
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}

.App-Post{
  margin-top:10%;
  width: 716px;
  min-height: 250px;
  /*border-radius: 5px;*/
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}

.App-twit{
  width: 716px;
  min-height: 150px;
  /*border-radius: 5px;*/
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}

.App-card{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.App-row{
  display:flex;
  flex-direction: row;
}

.App-column{
  display:flex;
  flex-direction: column;
}

.App-posi{
  left: 10%;
  position: relative;
}


.App-link {
  color: #61dafb;
}

.App-line{
  display: inline-block;
  background: rgb(101, 119, 134);
  width: 96%;
  height: 3px;
}

.App-menu{
  height: 37px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: #fff;
}

.App-button{
  margin-top: 30px;
  margin-left: 614px;
  width: 73px;
  height: 32px;
  font-weight: 600;
  background: #4AB3F4;
  color: #fff;
  border-radius: 7px;
}

button:hover{
  opacity: 0.5;
}

textarea {
  resize: none;
  margin-top: 3%;
  border: solid 2px #4AB3F4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
